@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --serif: "Roboto Slab", serif;
    --fliess: "Roboto", serif;
    --prime-100: #0e6ca8;
    --prime-200: #0d4667;
    --prime-300: #187ab6;
    --prime-400: #09c7f3;
    --prime-500: #38bdec;
    --sub-100: #22b061;
    --sub-200: #1a864a;
    --sub-300: #0e4b29;
    --sub-400: #0e4b29;
    --sub-500: #0c381f;
    --info-100: #0b2113;
    --info-200: #2c6d45;
    --info-300: #1e482e;
    --info-400: #0f2417;
    --info-500: #07120c;
    --warn-100: #ffcc00;
    --warn-200: #cca300;
    --warn-300: #997a00;
    --warn-400: #665200;
    --warn-500: #332900;
    --light-100: white;
    --light-200: rgba(255, 255, 255, 0.7);
    --light-300: rgba(255, 255, 255, 0.439);
    --light-400: rgba(255, 255, 255, 0.251);
    --light-500: rgba(255, 255, 255, 0.188);
    --ntr-100: #cac9c9;
    --ntr-200: #979595;
    --ntr-300: #646262;
    --ntr-400: #313030;
    --ntr-500: #171717;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html, body{
    font-family: var(--fliess);
}

ul[class]{
    list-style:none;
}

.booking__header {
    text-align: center;
    margin-block: 1rem 2rem;
    h2{
        color:var(--prime-100);
        font-family: var(--serif);
    }
    p{
        margin-block-start: 1rem;
        max-width: 400px;
        margin-inline: auto;
        font-family: var(--flies);
    }
}



.booking__main{
    font-family: var(--serif);
    font-weight: 900;
    position:relative;
    .booking__item{
        position:relative;
        max-width: 500px;
        margin-inline: auto;
    }
   .booking__toggle-menu{
        border: 1px solid whitesmoke;
        display:flex;
        gap: 1rem;
        width: 90%;
        margin: 1rem auto;
        align-items:flex-start;
        box-shadow:1px 1px 20px #00000010;
        padding: .5rem;
        cursor:pointer;
       
        .booking__info{
            font-size: .7rem; 
            color:var(--warn-200);
            &.hide{
                opacity: 0;
                pointer-events: none;
            }
        }
        .booking__icon{
            color:var(--prime-300);
        }
        .booking__caret{
            margin-inline-start: auto;
            font-size: 1.3rem;
        }
   }
   .booking__submenu{
    position:absolute;
    z-index: 200;
    transition: all 0.3s;
    top: 100%;
    left: 1rem;
    right: 1rem;
    background:whitesmoke;
    padding: 10px;
    box-shadow:2px 0 20px #00000020;
        button{
            border: none;
            width: 2rem;
            aspect-ratio: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--warn-100);
            float: right;
            cursor:pointer;
        }
        .booking__submenu--content{
            width: calc(100% - 3rem);
        }
        .booking__submenu--entry{
            padding: 1rem 0;
            border-block: 1px solid var(--light-100);
            cursor:pointer;

        }
    }
}

.booking .hide{
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
    z-index: -100;
}
.booking__data--choosing-data{
    color:orangered;
}

.user__data--content input:not(input[type="checkbox"]) {
    display: block;
}

.user__data {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-block: 1rem;
    border-block-end: 1px solid #ffffff;
}
span.range__val {
    margin-inline-start: auto;
    color: var(--prime-100);
}
.booking__send{
    button{
        border: unset;
        background-color: unset;
        display: block;
        margin-inline: auto;
        background: var(--prime-100);
        padding: 0.5rem 1rem;
        font-family: var(--serif);
        font-weight: 900;
        font-size: 1.25rem;
        color: var(--light-100);
        // text-transform: uppercase;
        letter-spacing: 2px;
        cursor: pointer;
    }
}

//Calendar
 .fc-daygrid-day-events {
     display: none;
}
.fc-daygrid-day-top {
    font-size: .8rem;
    color: var(--prime-100);
}
.fc-toolbar-chunk .fc-toolbar-title {
    font-size: 1rem;
}

@media ( min-width:1000px ){
    .booking__main{
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: 1rem;
        .booking__toggle-menu{
            margin-block: 0;
        }
        .booking__item{
            max-width: 100%;
            width: fit-content;
            min-width: 200px;
            margin-inline: unset;
        }
        .booking__submenu{
            left: auto;
            right: auto;
            & > button{
                display: none;
                clear: both;
            }
            .booking__submenu--content{
                min-width: 300px;
            }
        }
    }
}